<div class="container mt-5">

  <!-- search bar -->
  <div class="row" id="search-bar">
    <div class="col-12">
      <form action="/search">
        <div class="input-group mb-3">
          <input type="text" name="keyword" class="form-control" placeholder="Enter restaurant name to search..."
            aria-label="restaurant Name..." aria-describedby="search-button" value="{{keyword}}">
          <div class="input-group-append">
            <button class="btn btn-secondary ml-2" type="submit" id="search-button">Search</button>
          </div>
        </div>
      </form>
    </div>
  </div>
  <!-- movie list -->


  <div class="row" id="data-panel">
    {{#each restaurants}}
    <div class="col-sm-4">
      <a href="/restaurants/{{this.id}}" class="text-secondary">
        <div class="card mb-2">
          <img class="card-img-top" style="min-height: 40vh;" src="{{this.image}}" alt="Card image cap">
          <div class="card-body movie-item-body">
            <h6 class="card-title text-dark">{{this.name}}</h6>
            <h6 class="card-title text-dark"><i class="fas fa-star"></i>{{this.rating}}</h6>
          </div>
        </div>
      </a>
    </div>

    {{/each}}
  </div>
</div>